@import '../../styles/index';

.skills {
    margin: 2rem 0;
    min-height: 100vh;
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        text-align: center;
        color: $accent-dark;
        position: relative;
        display: inline-block;
        font-weight: 500;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $accent-dark ;
            left: 0;
            bottom: 0;
            border-radius: 1rem;
        }
    }

    .skills-icons {
        text-align: center;

        ul {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;

            li {
                width: 100px;
                height: 100px;
                display: grid;
                place-items: center;
                position: relative;
                @include transition;

                &::after {
                    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $accent-dark;
                    opacity: .1;
                    left: 0;
                    bottom: 0;
                    z-index: -1;
                    transform: translateZ(90deg);
                }

                &:hover,
                &:hover img {

                    transform: scale(1.25);
                }

                img {
                    @include transition;
                    // width: 100%;
                    object-fit: contain;
                    // object-position: center;
                }

            }
        }
    }
}

@media screen and (786px<=width<1080px) {

    .skills-icons {
        width: 70%;

        ul {

            gap: 2.5rem;

            li {
                flex: 1 0 calc(100%/5);
            }



        }
    }
}

@media screen and (width>=1080px) {
    .skills-icons {
        width: 65%;

        ul {

            gap: 3rem;




        }
    }
}